ion-note {
    color:#000000;
}

.text{
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    /*-webkit-line-clamp: 2;*/
    -webkit-box-orient: vertical;
}
@media (prefers-color-scheme: dark) {
    ion-note {
        color:#d6d6d6;
    }
}
