.qjs-questioncard{
    margin-left: 30Px;
    margin-right: 30Px;
    padding: 15Px 20Px;
    background:rgba(255,255,255,0.7);
    box-shadow:0Px 17Px 24Px 0Px rgba(0,0,0,0.12);
    border-radius:11Px;
}
.qjs-questioncard >.row {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
}
.qjs-questioncard >.row >.icon {
    flex:1;
    height: 18Px;
    margin-top: 7.5Px;
}

.qjs-questioncard >.row >.title{
    flex:9;
    height:auto;
    font-size:20Px;
    font-weight: bold;
    color:#5F5F5F;
    line-height:33Px;
    letter-spacing:1Px;
}
.qjs-questioncard >.daterow{
    margin-top:10Px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
}
.qjs-questioncard >.daterow >.dateicon{
    flex:1;
    height: 11Px;
}

.qjs-questioncard >.daterow >.dateq{
    text-align: left;
    flex:9;
    font-size:13Px;
    font-weight:400;
    color:rgba(165,165,165,1);
    line-height:20Px;
}
.qjs-questioncard >.content{
    margin-top: 20Px;
    font-size:15Px;
    font-family:SourceHanSansCN-Normal,SourceHanSansCN;
    font-weight:400;
    color:rgba(95,95,95,1);
    line-height:26Px;
    letter-spacing:1Px;
}
.qjs-questioncard >.pics{
    margin-top: 20Px;
    width: 100%;
}
.qjs-questioncard >.pics ion-col {
    margin:2.5Px;
}

.qjs-questioncard >.pics ion-col >ion-img{

    width: 100%;
    height: 96Px;
    background:rgba(210,210,210,1);
    border-radius:4Px;
}
@media (prefers-color-scheme: dark) {

}
